// News item

.news-item {
  width: 30%;
  height: 200px;
  padding: 10px 20px;
  outline: 1px solid gray;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__button img {
    max-width: 100%;
    height: auto;
  }
}